
body{
    background-color:rgb(233, 35, 35);
}
.topnav {
    background-color: '';
    overflow: hidden;
  }
  
/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: #080808;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 19px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: red;
    color: #080808;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: red;
    color: #080808;
  }

  /* profile */
  #profile img{
    border-radius: 50px;
    width: 220px;
    height: 250px;
  }

  /* text */
#spidy{
  font-size: 30px;
  color: rgb(136, 121, 121);
}
#txthead{
  font-size: 20px;
}

  /* links of social media */
  #linkes a{
    color: #080808;
    float: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 12px;
  }
  #linkes a:hover {
    background-color: red;
    color: white;
  }

  /* new page */
  /* message */
  #Message{
    padding: 80px 0;
    color: rgb(34, 34, 59);
  }
  input[type=text] {
      width: 20%;
      padding: 7px 7px;
      margin: 8px ;
      border-radius: 7px;
      border-bottom: 2px solid #080808;
    }
    input[type=button] {
      background-color: '';
      border-radius: 10%;
      color: #080808;
      padding:  10px 20px;
      text-decoration: none;
      margin: 10px;
      cursor: pointer;
    }
    textarea {
      width: 50%;
      height: 150px;
      padding: 12px 20px;
      box-sizing: border-box;
      border: 2px solid #080808;
      border-radius: 4px;
      background-color: #f8f8f8;
      font-size: 16px;
      resize: none;
    }
    .input[type=button] a:hover {
      background-color: '';
      color: #080808;
    }
  
  select {
      width: 20%;
      padding: 10px 1px;
      margin: 8px;
      color: #080808;
      border-radius: 7px;
      border-radius: 4px;
      background-color: '';
      border-bottom: 2px solid #080808;
    }
      /* about me */
      #abouttxt {
        color: #080808;
        font-family: 'Times New Roman', Times, serif;
        font-size: 19px;
        font-weight: bold;
      }

    #lasttext{
      color: #080808;
    }