body{
    background-color: rgb(222, 220, 121);
}
p {
    font-family:Pacifico ;

}
@media (mini-width : 800px) {
    body{
        background-color: rgb(254, 75, 15);
    }
}

@media (max-width: 599px) {
    body {
        background-color: rgb(150, 99, 62);
    }
} 

h2{
    color: grey;
    text-align: center;
}
table, th{
    border: 2px solid black;
    border-collapse: collapse;
}
td{
    border: 1px solid black;
}
#hey {
    color: navy;
}
a {
    color: dimgray;
}
a [href="https://www.codecademy.com/"] {
    color: rgb(70, 69, 137);
}
#subscribe-button {
    background-color: red;
    color: white;
    cursor: pointer;
    transition: opacity 0.15s;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    height: 20px;
    width: 200px;
    vertical-align: middle;
    border-width: 1px;
}
#subscribe-button:hover {
    background-color: rgb(13, 209, 13);
    opacity: 0.8; 
}
#subscribe-button:active {
    background-color:blue;
}
#foo {
    color: rgb(20, 20, 90);
}
#container {
    display: flex;
    flex-wrap: wrap;
}

#container > div {
    background-color:royalblue ;
    font-size: 20px;
    margin: 20px;
    padding: 20px;
    width: 150px;
}
#bro {
    color: midnightblue;
}
.active {
    font: italic;
}